* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
background-color: black;
}


.container-father{
    background-color: black;
    height: 100%;
}

.container-con-box{
    height: 100%;

}

.container-box{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.bg-dark{
    border-radius: 10px;
    padding: 1rem;
}

.card{
    color: white;
    text-align: center;
    border-radius: 10px;
    border-width: 0;
}

.input-group{
    margin-bottom: 2rem;
    width: 75%;
}

img{
    height: 100%;
}

h1{
    margin-bottom: 0.5rem;
}

.loading{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width: 480px){

    .col-md-4{
        width: 100% !important;
    }

    .bg-dark{
        height: 31vh;
        width: auto;
    }

    h2, p{
        font-size: 15px !important ;
        font-weight: bold !important;
        padding-top: 1rem;
    }

    h1{
        font-size: 20px;
        margin-top: 7px;
    }

}

@media screen and (max-width: 768px){
    
    .col-md-4{
        width: 100%;
        height: auto;
    }
    
    img{
        height: 40vh;
        width: auto;
    }
    .bg-dark{
        height: 60%;
        width: 80%;
    }
    h2{
        font-size: 20px !important;
    }
    .lead{
        font-size: 1rem !important;
    }
    .input-group{
        margin-bottom: 1rem;
    }
    h1 {
        font-size: 0.9rem !important;
        margin-bottom: 0px !important;
    }
    h2{
        font-size: 20px;
    }
    i {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1024px){

    img{
        height: 60vh;
        width: auto;
    }

    .bg-dark{
        height: 80%;
        width: auto;
    }
    
    h1 {
        font-size: 1rem !important;
        margin-bottom: 0px !important;
        padding: 10px;
    }

    .col-md-4{
        width: 32%;
        height: 100%;
    }

}